form {
    height: 15vh;
    width: 45vw;
    margin: 2.5vh 2.5vw;
    font-size: 1.25rem;
}

.username-input {
    margin-left: .5rem;
    padding-left: 1rem;
    width: 10vw;
    height: 5vh;
    border-radius: 8pt;
}

.date-label {
    margin-left: 2rem;
}

.date-input {
    margin-left: .5rem;
    padding-left: 1rem;
    width: 7vw;
    height: 5vh;
    border-radius: 8pt;
}

.message-container {
    margin-top: 2vh;
}

.message-label {
    position: absolute;
}

.message-input {
    margin-left: 6.5rem;
    padding-left: 1rem;
    width: 24vw;
    height: 6vh;
    border-radius: 8pt;
}

button {
    background-color: #ff2222;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    right: 30vw;
    top: 65vh;
}